---
import "../styles/global.css";
import config from "../../docs/metadata/config.json";

interface Props {
	title?: string;
	description?: string;
}

const { title = config.meta.title, description = config.meta.description } =
	Astro.props;
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Bloqueador de oscilação do Dark Mode (FOUC) -->
		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- SEO Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content={config.name} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://github.com/mr4torr.png" />
		<meta property="og:url" content={`https://${config.contact.website}`} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta
			property="twitter:image"
			content="https://github.com/mr4torr.png"
		/>
	</head>
	<body
		class="bg-neutral-50 dark:bg-neutral-950 text-neutral-800 dark:text-neutral-100 antialiased selection:bg-emerald-500 selection:text-white transition-colors duration-300"
	>
		<slot />
	</body>
</html>
